Source: swish-python
Section: web
Priority: optional
Maintainer: David L Norris <dave@webaugur.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: swish-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: python language bindings for SWISH-E Search Engine
 Swish-e is a fast, flexible, and free open source system for indexing 
 collections of Web pages or other files. Swish-e is ideally suited 
 for collections of a million documents or smaller. 
