<html>
    <head>
       <title>
          <TMPL_IF FILES>Results for: <TMPL_VAR QUERY><TMPL_ELSE>Search Page</TMPL_IF>
       </title>
    </head>
    <body>
        <div align=center>
            <h2>SWISH-E Searcher<small><sup>&copy;</sup></small></h2>
            <TMPL_VAR MESSAGE><br>

            <form method="post" action="<TMPL_VAR MY_URL>" enctype="application/x-www-form-urlencoded" class="form">
                <input type="text" name="query"  size=32 maxlength=200 />
                <input type="submit" name="submit" value="Search!" /><br>

                <TMPL_IF METANAMES>
                    Limit search to:
                    <TMPL_LOOP METANAMES>
                        <input type="radio" name="metaname" value="<TMPL_VAR METANAME>"><TMPL_VAR METANAME>
                    </TMPL_LOOP>
                    <TMPL_UNLESS ALL_META>
                        <input type="radio" name="metaname" value=0>Do not limit
                    </TMPL_UNLESS>
                    <br>
                </TMPL_IF>



                <TMPL_IF SORTS>
                    Sort by:
                    <select name="sort">
                        <TMPL_LOOP SORTS>
                            <option  value="<TMPL_VAR SORT_BY>" ><TMPL_VAR SORT_BY></option>
                        </TMPL_LOOP>
                    </select>
                    <input type="checkbox" name="reverse" value=1>Reverse Sort
                </TMPL_IF>                            

            </form>
        </div>

        <TMPL_IF FILES>
            <div align=center>
                <small>
                Total time: <TMPL_VAR TOTAL_TIME> seconds |
                Run time: <TMPL_VAR RUN_TIME> |
                Search time: <TMPL_VAR SEARCH_TIME>
                </small>
                <p>
                <font size="+1">Results for [<font color=red><TMPL_VAR QUERY></font>]</font>
                <p>
                Showing <TMPL_VAR FROM> to <TMPL_VAR TO> of <TMPL_VAR HITS> results.
                <br>
                
                <TMPL_IF PAGES><br>Pages: <TMPL_VAR PAGES></TMPL_IF>

                <TMPL_IF PREV_COUNT>
                    <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR PREV>">Previous <TMPL_VAR PREV_COUNT></a>
                </TMPL_IF>
                
                <TMPL_IF NEXT>
                    <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NEXT>">Next <TMPL_VAR NEXT_COUNT></a>
                </TMPL_IF>
                <p>

                <table border=0 cellspacing=0>    
  
                <TMPL_LOOP FILES>
                    <tr <TMPL_IF __ODD__>bgcolor="#EEEEEE"</TMPL_IF>>
                        <td valign=top><TMPL_VAR swishreccount>.</td>
                        <td>
                            <a href="<TMPL_VAR swishdocpath>"><TMPL_VAR swishtitle></a><br>
                            <small><TMPL_VAR swishdocpath></small>

                            <TMPL_IF PROPERTIES>
                                <blockquote>
                                    <TMPL_LOOP PROPERTIES>
                                        <b><TMPL_VAR PROP_NAME></b>: <TMPL_VAR PROP_VALUE><br>
                                    </TMPL_LOOP>
                                </blockquote>
                            </TMPL_IF>

                        
                        </td>
                        <td valign=top>
                            <small>[<TMPL_VAR swishlastmodified>]</small><br>
                            <small>[score: <TMPL_VAR swishrank>]</small>
                        </td>
                    </tr>
                </TMPL_LOOP>
                </table>
                <p>
                <TMPL_IF PAGES><br>Pages: <TMPL_VAR PAGES></TMPL_IF>

                <TMPL_IF PREV_COUNT>
                    <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR PREV>">Previous <TMPL_VAR PREV_COUNT></a>
                </TMPL_IF>
                
                <TMPL_IF NEXT>
                    <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NEXT>">Next <TMPL_VAR NEXT_COUNT></a>
                </TMPL_IF>

                
            </div>
        </TMPL_IF>
        
    </body>
</html>

