
<html>
    <head>
       <title>
          <TMPL_IF RESULTS>Results for: <TMPL_VAR QUERY_SIMPLE><TMPL_ELSE><TMPL_VAR TITLE></TMPL_IF>
       </title>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0">
        <tr><td>
            <a href="http://swish-e.org">
            <img border="0" alt="Swish-e home page" src="http://swish-e.org/Images/swish-e.gif"></a>
        </td><td valign="middle">
            <font size="+3"><TMPL_VAR TITLE></font>
        </td></tr>
        </table>

        <TMPL_IF MESSAGE>
            <font size="+2" color="red"><TMPL_VAR MESSAGE></font>
        </TMPL_IF>

        <form method="GET" action="<TMPL_VAR MY_URL>" enctype="application/x-www-form-urlencoded" class="form">
            <input type="text" name="query"  size=32 maxlength=200 />
            <input type="submit" name="submit" value="Search!" /><br>

            <TMPL_IF METANAMES>
                Limit search to:
                <TMPL_LOOP METANAMES>
                    <input type="radio" name="metaname" value="<TMPL_VAR NAME>"><TMPL_VAR LABEL>
                </TMPL_LOOP>
                <br>
            </TMPL_IF>



            <TMPL_IF SORTS>
                Sort by:
                <select name="sort">
                    <TMPL_LOOP SORTS>
                        <option  value="<TMPL_VAR NAME>" ><TMPL_VAR LABEL></option>
                    </TMPL_LOOP>
                </select>
                <input type="checkbox" name="reverse" value=1>Reverse Sort
            </TMPL_IF>


            <TMPL_IF INDEX_SELECT>
                <!-- not implemented -- see Template Tool kit example -->
            </TMPL_IF>


            <TMPL_IF LIMITS>
                <!-- not really implemented -->
                <br><TMPL_VAR LIMIT_TITLE>
                <TMPL_LOOP LIMITS>
                    <input type="checkbox" name="sbm" value="<TMPL_VAR VALUE>" /><TMPL_VAR LABEL>
                </TMPL_LOOP>
            </TMPL_IF>


            <TMPL_VAR DATE_RANGES>

            

        </form>


        <TMPL_IF FILES>
            <table cellpadding=0 cellspacing=0 border=0 width="100%">
                <tr>
                    <td height=20 bgcolor="#FF9999">
                        <font size="-1" face="Geneva, Arial, Helvetica, San-Serif">
                        &nbsp;Results for <b><TMPL_VAR QUERY_SIMPLE></b>
                        &nbsp; <TMPL_VAR FROM> to <TMPL_VAR TO> of <TMPL_VAR HITS> results.
                        </font>
                    </td>
                    <td align=right bgcolor="#FF9999">
                        <font size="-2" face="Geneva, Arial, Helvetica, San-Serif">
                        Run time: <TMPL_VAR RUN_TIME> |
                        Search time: <TMPL_VAR SEARCH_TIME> &nbsp; &nbsp;
                        </font>
                    </td>
                </tr>

                <TMPL_IF PAGES>
                    <tr>
                        <td colspan=2 bgcolor="#EEEEEE">

                    <TMPL_IF REPLACE_WITH_DEFINED_VAR_TO_USE>
                            &nbsp;
                            <TMPL_IF PREV_COUNT>
                                <a style="text-decoration:none" href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR PREV>">&lt;&lt;</a>
                            </TMPL_IF>
    
                            <TMPL_LOOP NAME=PAGE_ARRAY>
                                <TMPL_IF NAME=CUR_PAGE>
                                    [<TMPL_VAR NAME=PAGE_NUMBER>]
                                <TMPL_ELSE>
                                    <a style="text-decoration:none" href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NAME=PAGE_START>">
                                    <TMPL_VAR NAME=PAGE_NUMBER></a>
                                </TMPL_IF>

                            </TMPL_LOOP>

                            <TMPL_IF NEXT_COUNT>
                                <a style="text-decoration:none" href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NEXT>">&gt;&gt;</a>
                            </TMPL_IF>

                    <TMPL_ELSE>
                            <font size="-1" face="Geneva, Arial, Helvetica, San-Serif">&nbsp;Page:</font>
                            <TMPL_VAR PAGES>

                            <TMPL_IF PREV_COUNT>
                                <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR PREV>">
                                Previous <TMPL_VAR PREV_COUNT></a>
                            </TMPL_IF>
    
                            <TMPL_IF NEXT_COUNT>
                                <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NEXT>">
                                Next <TMPL_VAR NEXT_COUNT></a>
                            </TMPL_IF>
                    </TMPL_IF>


                        </td>
                    </tr>
                </TMPL_IF>

            </table>
        
            <p>



            <TMPL_LOOP FILES>
                <dl>
                    <dt><a href="<TMPL_VAR swishdocpath_href>"><TMPL_VAR swishtitle></a> <small>-- rank: <b><TMPL_VAR swishrank></b></small></dt>
                    <dd><TMPL_VAR swishdescription>...<br>

                    <TMPL_IF PROPERTIES>
                        <p>
                        <TMPL_LOOP PROPERTIES>
                            <b><TMPL_VAR PROP_NAME></b>: <TMPL_VAR PROP_VALUE><br>
                        </TMPL_LOOP>
                    </TMPL_IF>


                    <small>
                        <TMPL_VAR swishdocpath>
                        <TMPL_VAR swishlastmodified>
                        <TMPL_VAR swishdocsize> bytes.
                    </small>
                    </dd>
                </dl>
                    
            </TMPL_LOOP>

            <p>
            <TMPL_IF PAGES><br>Pages: <TMPL_VAR PAGES></TMPL_IF>

            <TMPL_IF PREV_COUNT>
                <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR PREV>">Previous <TMPL_VAR PREV_COUNT></a>
            </TMPL_IF>
            
            <TMPL_IF NEXT>
                <a href="<TMPL_VAR QUERY_HREF>&amp;start=<TMPL_VAR NEXT>">Next <TMPL_VAR NEXT_COUNT></a>
            </TMPL_IF>

        </TMPL_IF>

        <hr>
        <small>Powered by <em>Swish-e</em> <a href="http://swish-e.org">swish-e.org</a></small>
        <TMPL_IF MOD_PERL>
            Powered by: <img src="http://perl.apache.org/logos/mod_perl.gif">
        </TMPL_IF>
        <p>
          <a href="http://validator.w3.org/check/referer"><img border="0"
              src="http://www.w3.org/Icons/valid-html401"
              alt="Valid HTML 4.01!" height="31" width="88"></a>
        </p>

        
        
    </body>
</html>

