/* http://www.alistapart.com/articles/slashdot/ */

/*-General-----------------------------------------------*/

html, body {
        margin:     0px;
        padding:    0px;
}

form {
        display:    inline;
        margin:     0px;
        padding:    0px;
}


h1, h2, h3, h4, h5, h6, p, div {
        margin:     0px;
        padding:    0px;
}


/*-Main Layout-------------------------------------------*/

#overall {
        margin:     5px 12px 0px 12px;
        padding:    0px;
}

/*-Header-------------*/

.header {
        position:   relative;
        height:     80px;
}


#title {
        top:        0px;
        left:       5px;
        position:   absolute;
}
/*-Footer-------------*/

.footer {
        padding:    40px 0px 0px 0px;
        margin-left: 1em;
        position:   relative;
        clear:      both;
}

/*-Content Area-------*/

.content {
        width:      100%;
}

/*-Left Column--------*/

.leftcolumn     {
        float:      left;
        width:      92px;
}

.leftcolumn .node {
        margin:     0px 0px 15px 0px;
}

.leftcolumn .node h1 {
        padding:    0px 0px 0px 3px;
}


/*-Center Column------*/

.centercolumn {
        margin-left:    96px;
        margin-right:   239px;
        font-family:    "\"}\"";
        font-family:    inherit;
        margin-left:    98px;
        margin-right:   241px;
}


/*-Right Column-------*/

.rightcolumn {
        float:      right;
        width:      220px;
        margin:     0px 10px 0px 0px;
}
* html .rightcolumn {
        margin:     0px 5px 0px 0px;
}
body>div .rightcolumn {
        margin:     0px 10px 0px 0px;
}

.rightcolumn .node {
        margin:     5px 12px 0px 12px;
        margin:     5px 12px 0px 12px;
        margin:     0px 0px 15px 0px;
        padding:    0px;
}

