[% META type = "text" %]

[%
    font = {
        body = "verdana, helvetica, arial, sans-serif"
        text = '"trebuchet ms", verdana, helvetica, arial, sans-seri'
    }

    color = { # TODO - should these be color names?
        background = "rgb(117,144,174)"
        other    = "rgb(195,196,210)"
    }
-%]


/* Swish-e CSS based on: */

/*************************************************
 * TITLE: Prosimii Alternative Screen Stylesheet * 
 * URI  : prosimii/prosimii-screen-alt.css       *
 * MODIF: 2004-Apr-28 21:56 +0800                *
 *************************************************/


/* ##### Common Styles ##### */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 9pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(61,92,122);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

a {
  color: rgb(61,92,122);
  background-color: transparent;
  text-decoration: underline;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
 color: rgb(117,144,174);
 text-decoration: none;
}

ol {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

ul {
  list-style-type: square;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

dl {
  margin: 1em 0 0.5em 0;
  padding: 0;
}

ul li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 1.5em;
  padding: 0;
}

ol li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 2em;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 1ex 0;
}

dd {
  line-height: 1.75em;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}


/* #### search form #### */

.srchform
{
	margin: 0px;

}

input.button
{

	font-size: 80%;
	font-color: darkblue;
	border-style: outset;
	border-width: 1px;
	border-color: #004186;
	background-color: white;
}

input.button:hover
{
	/* font-weight: bold; */
	color: rgb(193,102,90);
	/* font-size:9px; */
	background-color: #e5ecf9;
	border-style: inset;
	/* letter-spacing: -0.5px */
}

/* ##### Header ##### */

.superHeader {
  color: rgb(130,128,154);
  background-color: rgb(33,50,66);
  text-align: right;
  margin: 0;
  padding: 0.5ex 10px;
}

.superHeader span {
  color: rgb(195,196,210);
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.superHeader a {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.superHeader a:hover {
  color: rgb(193,102,90);
  background-color: transparent;
  text-decoration: none;
}

.midHeader {
  color: white;
  background-color: rgb(61,92,135);
  margin: 0;
  padding: 0.26ex 10px;
}

.headerTitle {
  font-size: 300%;
  margin: 0;
  padding: 0;
}

.headerSubTitle {
  font-size: 151%;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 1ex 0;
  padding: 0;
}

.headerLinks {
  text-align: right;
  margin: 0;
  padding: 0 0 2ex 0;
  position: absolute;
  right: 1.5em;
  top: 3.5em;
}

.headerLinks a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0.5ex 0;
  display: block;
}

.headerLinks a:hover {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: underline;
}

.subHeader {
  color: white;
  background-color: rgb(117,144,174);
  margin: 0;
  padding: 0.5ex 10px;
}

.subHeader a, .subHeader .highlight {
  color: white;
  background-color: transparent;
  font-size: 110%;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.subHeader a:hover, .subHeader .highlight {
  /*color: rgb(255,204,0); */
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: underline;
}


/* ##### Side Menu ##### */

#side-bar {
  color: rgb(204,204,204);
  background-color: transparent;
  list-style-type: square;
  list-style-position: inside;
  width: 12em;
  margin: 0;
  padding: 1ex 0;
  border: 1px solid rgb(204,204,204);
  position: absolute;
  left: 1.5ex;
  top: 12em;
  /* top: 9em; */
}


/* floating turned off for documentation pages */
/* NOTE this doesn't work in MSIE */
.floating { position: fixed !important; }


#side-bar a {
  text-decoration: none;
}

#side-bar:hover {
  color: rgb(117,144,174);
  background-color: transparent;
  border-color: rgb(117,144,174);
}

#side-bar li {
  margin: 0;
  /* padding: 0.75ex 0 1ex 1.75ex; */
  /* esp with documentation sublinks, this gets too long */
  padding: 0 0 0 1ex;
  
}

#side-bar li:hover {
  color: rgb(61,92,122);
  background-color: transparent;
}


#side-bar li a:hover {
  text-decoration: underline;
}

/* turn 'off' link for current page */

#side-bar li a.thisfile {

  text-decoration: none;
  color: black;
  
}

#side-bar li a.thisfile:hover {

  text-decoration: none;
  color: black;
  
}

/* documentation submenu */

ul.submenu {

  font-size: 80%;
  padding: 0 0 0 0;
  margin: 0;
  list-style-type: circle;
}

li.submenu {

  font-size: 80%;
  padding: 0 0 0 0;
  margin: 0;
}

/* TOC at top of each POD page */
ul.toc li {
  padding: 0 0 0 0;
  line-height: 0;
}

/* For the main TOC (with the OVERVIEW summary) add space at the end */
ul.toc li.top-level {
  margin-bottom: 3em;
}


/* must be a better way to do leading than line-height
(thus necessitating turning it off and on) */

ul.toc div, p, blockquote { line-height: 1; }

ul.toc li a {
  text-decoration: none;
}

ul.toc li a:hover {
  text-decoration: underline;
}


/* ##### Documentation #### */
/* the Doc defs were originally for a new 'make html'
build from POD. Keeping here for reference. */

div.doc {

/* mostly to give us a sane margin on left/right */

 text-align: left;
 margin: 8px;
 
}

div.navbar {

 text-align: center;
 
}


/* ##### Main Copy ##### */

#main-copy {
  text-align: left;
  margin: -0.5ex 1em 1em 13.5em;
  padding: 0.5em 10px;
  clear: left;
}

#main-copy h1 {
  color: rgb(117,144,174);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 186%;
  margin: 0;
  padding: 1.5ex 0 0 0;
}

#main-copy h2 {
  color: rgb(61,92,122);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 151%;
  margin: 0;
  padding: 1ex 0 0 0;
}

#main-copy p {
  line-height: 1.5em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

#main-copy p.quote {
  
  line-height: 1em;
  margin: 1em 0 1.5em 0;
  padding: 1ex;
  background-color: rgb(239,239,239);;
  
}


.more {
  text-align: right;
  margin: 0;
  padding: 0.5em 0;
}

.more a {
  color: rgb(61,92,122);
  background-color: transparent;
  font-size: 92%;
  text-decoration: underline;
  margin: 0;
  padding: 0.25ex 0.75ex;
}

.more a:hover {
  color: rgb(117,144,174);
  text-decoration: none;
}


/* ##### Footer ##### */

#footer {
  color: rgb(51,51,102);
  background-color: rgb(239,239,239);
  font-size: 87%;
  text-align: center;
  line-height: 1.25em;
  margin: 2em 0 0 0;
  padding: 1ex 10px;
  clear: left;
}

#footer a {
  color: rgb(0,68,204);
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}


/* For header on file lists (like download and swish-daily ) */
.dirHeader {
  color: white;
  background-color: rgb(117,144,174);
  padding: 0.5ex 10px;
  margin-bottom: 10ex;  /* How do I get this to work??? */
}

/* For <pre> sections on the pod docs */

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

/* ## Search Results ## */

div.search-page {  /* enclosing div */
    margin: 2em 2em 0 0em;
    padding: 3px 3px 3px 3px;
    // background-color:  #eeeeee;
    // border: 1px solid black;
}

.search-message { /* error messages, and "No Results" */
    color: red;
    text-align: center;
    font-size: 150%;
}

.search-header { /* Results for "foo"  page 1 */
    font-size: 130%;
    background-color: #EEEEEE;
    padding-left: 5px;
}


.search-results { /* contains all results */
    margin-top: 2em;
}

.search-result {  /* each result */
    margin-bottom: 2em;
}

.search-title {
    font-size: 1.2em;
}

.search-rank {
    color: red;
}

.search-description {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    max-width: 700px; /* not supported by IE */
    width:expression(document.body.clientWidth > 600? "600px": "auto" );
}

.search-metadata { 
    margin-left: 2em;
    font-size: 0.8em;
    color: green;
}
.search-metadata a { 
    text-decoration: none; 
    color: green;
}
.highlight { 
    background : #FFFF99;
    font-weight: bold;
}


