# DIRECTIVES COMMON to  HTTP and FILESYSTEM METHODS
###################################################
# WINDOWS USERS NOTE:
#	Specify ALL files and directory paths in the
#	the config file using the forward slash, as
#	in /thisdirectory.	
#
###################################################

IndexDir ./test.html ./test_meta.html ./test_meta2.html ./test_xml.html ./test_phrase.html ./test.xml ./test.txt ./pp
# For the FileSystem Method:
# This is a space-separated list of files and
# directories you want indexed. You can specify
# more than one of these directives.
#
# For the HTTP Method:
# Use the URL's from which you want the spidering
# to begin.
# NOTE: use  hmtl files rather than  directories
# for this method.

IndexFile ./test.index
# This is what the generated index file will be.

IndexName "Improvement index"
IndexDescription "This is an index to test swish-e." 
IndexPointer "http://www.boe.es/swish-e"
IndexAdmin "Jose Ruiz (jmruiz@boe.es)"
# Extra information you can include in the index file.

MetaNames meta1 meta2 meta3
# List of all the meta names used in the file to index, must be on one line.
# If no metanames DO NOT deleted the line.
# New in 2.0 -> automatic option will extract metanames dinamically
# eg:
# MetaNames automatic

IndexReport 0
# This is how detailed you want reporting. You can specify numbers
# 0 to 3 - 0 is totally silent, 3 is the most verbose.

FollowSymLinks yes
# Put "yes" to follow symbolic links in indexing, else "no".

#UseStemming no
# Put yes to apply word stemming algorithm during indexing,
# else no. See the manual for info about stemming. Default is 
# no.

PropertyNames meta1 meta2 meta3
# List of meta tags names that can be retrieved with the -p option.
# Index size increases as by the formula in the manual.
# Comment out if no PropertyNames. Case insensitive

IgnoreTotalWordCountWhenRanking no
# Put yes to ignore the total number of words in the file
# when calculating ranking. Often better with merges and
# small files. Default is no.

IndexComments 1
# This option allows the user decide if to index the comments in the files
# default is 1. Set to 0 if comment indexing is not required.

DefaultContents TXT
IndexContents XML .xml
IndexContents HTML .htm .html .php .php3


#TmpDir /tmp
#(default /var/tmp)  The location of a writeable temp directory
#on your system.  The HTTP access method tells the Perl helper to place
#its files there.

