<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
 
<html>
<head>
    <title>SWISH-Enhanced</title>
    <link href="style.css" rel=stylesheet type="text/css" title="refstyle">
</head>

<body>

    <h1 class="banner">
        <img src="images/swish.gif" alt="Swish Logo"><br>
        <img src="images/swishbanner1.gif"><br>
        <img src="images/dotrule1.gif"><br>
        <img src="images/swish2.gif" alt="SwishE2 Logo">
    </h1>

    <center>
        <A href="#toc">Table of Contents</a>
    </center>


    <P>
        SWISH-Enhanced is a fast, powerful, flexible, free, and easy to use system
        for indexing collections of Web pages or other text files. Key features
        include the ability to limit searches to certain HTML tags (META, TITLE,
        comments, etc.). SWISH-E is an enhanced version of
        <B>SWISH</B>, which was originally written by
        Kevin Hughes
        and modified and released with his permission.
    </p>

    <p>
        <img src="images/swish2b.gif" alt="SwishE2 Logo"> is a new version with much of the code base
        rewritten for additional features, increased speed of indexing and searching, and improved
        security.  See the SWISH-E L<README|README> file for a list of features, downloading instructions,
        documentation overview, and support information.
    </p>
        

    <p>
        A product with a similar-sounding name, but completely
        different is
        <A HREF="http://www.best.com/~pjl/software/swish/">SWISH++</A>.
    </p>


    <center><p><b>Version [VERSION] [DATE]</b></p></center>
 


    <table align=center width="70%">
 
        <tr>
            <td>
                <a name="toc"></a>
                <h3>
                    <font color="#008B8B">
                        Table of Contents:
                    </font>
                </h3>


                <div class="toc">
                    <ul>
                        [MAIN_TOC]
                    </ul>
                </div>


            </td>
        </tr>

    </table>

    <p>

    <div class="navbar">
            [TOC]
    </div>

    <P ALIGN="CENTER">
    <IMG ALT="" WIDTH="470" HEIGHT="10" SRC="images/dotrule1.gif"></P>
    <P ALIGN="CENTER">

    <div class="footer">
        Copyright (C) 1995, 1996, 1997, 1998, 1999, 2000 Hewlett-Packard Company<BR>
        Originally by Kevin Hughes, kev@kevcom.com, March 11, 1994.
        <BR>SWISH-E is distributed with <B>no warranty</B> under the terms of the <A 
        HREF="http://www.fsf.org/copyleft/gpl.html">GNU Public License</A>,<BR>
        Free Software Foundation, Inc., 
        59 Temple Place - Suite 330, Boston, MA  02111-1307, USA<BR> 
        Public questions may be posted to 
        the <A HREF="http://sunsite.berkeley.edu/SWISH-E/Discussion/">SWISH-E Discussion</A>.
    </div>

  </body>
</html>






