<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
   <title>SWISH-Enhanced: [TITLE]</title>
   <link href="[DOC_ROOT]/style.css" rel=stylesheet type="text/css" title="refstyle">
  </head>
  <body>

    <h1 class="banner">
        <img src="images/swish.gif" alt="Swish-E Logo"><br>
        <img src="images/swishbanner1.gif"><br>
        <img src="images/dotrule1.gif"><br>
        [TITLE]
    </h1>

    <hr>

    <p>
    <div class="navbar">
      [PREVPAGE] |
      <a href="[DOC_ROOT]/index.html">Contents</a> |
      [NEXTPAGE]
    </div>
    <p>

    <div class="toc">
      [INDEX]
    </div>


    [BODY]

    <p>
    <div class="navbar">
      [PREVPAGE] |
      <a href="[DOC_ROOT]/index.html">Contents</a> |
      [NEXTPAGE]
    </div>
    <p>


    <P ALIGN="CENTER">
    <IMG ALT="" WIDTH="470" HEIGHT="10" SRC="images/dotrule1.gif"></P>
    <P ALIGN="CENTER">

    <div class="footer">
        <BR>SWISH-E is distributed with <B>no warranty</B> under the terms of the
        <A HREF="http://www.fsf.org/copyleft/gpl.html">GNU Public License</A>,<BR>
        Free Software Foundation, Inc., 
        59 Temple Place - Suite 330, Boston, MA  02111-1307, USA<BR> 
        Public questions may be posted to 
        the <A HREF="http://swish-e.org/Discussion/">SWISH-E Discussion</A>.
    </div>

</body>
</html>
