Source: swish-e
Section: web
Priority: optional
Maintainer: Bill Moseley <moseley@hank.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.5.8
Build-Depends: debhelper (>= 3), zlib1g-dev, perl, libxml2-dev (>= 2.4.19)

Package: swish-e
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Recommends: libmime-types-perl, libhtml-parser-perl, libwww-perl
Description: Simple Web Indexing System for Humans
 SWISH-Enhanced is a fast, powerful, flexible, and easy to use system
 for indexing collections of HTML Web pages, XML or other text files. Key
 features include the ability to limit searches to certain HTML tags
 (META, TITLE, comments, etc.).
 .
 See the Swish-e Website for details: http://swish-e.org
