.SubjectLine
{
    FONT-STYLE: italic
}
.Fact
{
}
.Held
{
    MARGIN-LEFT: 32pt
}
BODY
{
    BACKGROUND-IMAGE: url(../images/greencurve.gif);
    MARGIN-LEFT: 54px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Arial;
    BACKGROUND-COLOR: #ffffff
}
.DecisionNo
{
    MARGIN-TOP: 56px;
    COLOR: red
}
.swquery
{
    FONT-SIZE: 115%
}
.swrescount
{
    FONT-STYLE: italic
}
.swres
{
    FONT-SIZE: 110%
}
.swdesc
{
    FONT-STYLE: italic
}
.Citation
{
    COLOR: red
}
.CaseName
{
    COLOR: red
}
.Judge
{
    COLOR: red
}
