
BODY
{
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-IMAGE: url(../images/powered.gif);
    BACKGROUND-POSITION: center top;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Arial;
    MARGIN-LEFT: 54px;
    MARGIN-TOP: 32px
}
