BODY
{
    BACKGROUND-IMAGE: url(../images/powered.gif);
    MARGIN-LEFT: 54px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Arial;
    BACKGROUND-COLOR: #ffffff
}
.DecisionNo
{
    MARGIN-TOP: 56px
}
.swquery
{
    FONT-SIZE: 105%
}
.swrescount
{
    FONT-STYLE: italic
}
.swres
{
    FONT-SIZE: 100%
}
.swdesc
{
    COLOR: #000066
}
.Citation
{
    COLOR: red;
    BACKGROUND-COLOR: #336600
}
