BODY
{
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/powered.gif);
    MARGIN-LEFT: 48px;
    COLOR: #ffffff;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Arial;
    font-size: 90%;
    BACKGROUND-COLOR: #000066
}
