
BODY
{
    BACKGROUND-IMAGE: url(../images/powered.gif);
    MARGIN-LEFT: 54px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Arial;
    BACKGROUND-COLOR: #ffffff
}

.swquery
{
    FONT-SIZE: 115%
}
.swrescount
{
    FONT-STYLE: italic
}
.swres
{
    FONT-SIZE: 110%
}
.swdesc
{
    FONT-STYLE: italic
}
