# Config file for indexing website

IndexDir spider.pl
SwishProgParameters etc/spider.config

DefaultContents HTML*
StoreDescription HTML* <body>
MetaNames section
PropertyNames section

IndexFile public_html/search/index.swish-e

# Add these metanames to allow searching list archive, too
MetaNames swishtitle name email

