# Config file for indexing the test files

IndexOnly .html .txt .xml
MetaNames meta1 meta2 meta3
PropertyNames meta1 meta2 meta3
IndexComments yes
DefaultContents TXT*
IndexContents XML* .xml
IndexContents HTML* .htm .html
StoreDescription TXT* 20
StoreDescription HTML* <body> 50
StoreDescription XML* <desc> 
