# Config file for indexing the test files

IndexDir ./test.html ./test_meta.html ./test_meta2.html ./test_xml.html ./test_phrase.html ./test.xml ./test.txt 
IndexFile ./test.index
MetaNames meta1 meta2 meta3
IndexReport 0
PropertyNames meta1 meta2 meta3
IndexComments yes
DefaultContents TXT
IndexContents XML .xml
IndexContents HTML .htm .html .php .php3
StoreDescription TXT 20
StoreDescription HTML <metadesc> 50
StoreDescription XML <desc> 
